<div class="wrapper">
    <h2>Services</h2>
    <div class="cardsWrapper">
        <div class="card">
            <h3 class="poppins-semibold"><a routerLink="services/library">Library</a></h3>
            <p class="poppins-light">
                This is a custom UILibrary for a lot of my commonly used elements and standards.
            </p>
            <img routerLink="services/library" src="/assets/fireLibrary3.jpg" alt="LibraryServicePreview" class="preview poppins-extralight">
        </div>
        <div class="card">
            <h3 class="poppins-semibold"><a routerLink="services/games">Games</a></h3>
            <p class="poppins-light">
                This is a lookup page for prices and their price history on steam games.
            </p>
            <img routerLink="services/games" src="/assets/fireGameSearch3.jpg" alt="GamesServicePreview" class="preview poppins-extralight">
        </div>
        <div class="card">
            <h3 class="poppins-semibold"><a routerLink="services/comming-soon">Coming Soon</a></h3>
            <p class="poppins-light">
                ooo
            </p>
            <img routerLink="services/comming-soon" src="/assets/fireClock3.jpg" alt="ComingSoonServicePreview" class="preview poppins-extralight">
        </div>
    </div>
</div>