<div class="wrapper">
    <form class="loginForm">
        <img src="/assets/smallFire3.jpg" alt="a">
        <div>
            <input name="username" type="text" placeholder="Username" class="poppins-medium">
            <input name="password" type="password" placeholder="Password" class="poppins-medium">
        </div>
        <button type="submit" id="loginButton" class="poppins-semibold">
            Login
            <mat-icon class="material-icons-outlined">keyboard_arrow_right</mat-icon>
        </button>
        <span>No Account yet? <a routerLink="/signup">Sign Up</a> here!</span>
    </form>
</div>