<div class="wrapper">
    <div class="latest">
        <div>
            <span class="poppins-bold">Latest News</span>
            <h2 class="poppins-semibold"><a routerLink="news">Lorem, ipsum.</a></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit voluptate expedita blanditiis! Laborum ratione sequi accusamus voluptatibus non, minima hic error eaque nobis alias a ad laboriosam quam nisi quos?</p>
        </div>
        <img routerLink="news" src="/assets/smallFire3.jpg" alt="RedAstralLeaf">
    </div>
</div>